extends ../layouts/main-layout.pug

block content
        main
            form(action=`/admin/${editing ? "edit-product":"add-product"}` method="POST")
                label(for="Title") Title: 
                    input(type="text" name="title" value=`${editing ? product.title :""}`)
                label(for="imageUrl") Image:
                    input(type="text" name="ImageUrl" value=`${editing ? product.imageUrl :""}`)
                label(for="price") Price:
                    input(type="number" name="price" value=`${editing ? product.price :""}`)
                label(for="description") Description:
                    input(type="text" rows="5" name="description" value=`${editing ? product.description :""}`)
                if(editing)
                    input(type="hidden" value=`${product.id}` name="productId")          
                
                button(type="submit") #{editing? "Update Product":"Add Product"}